* {
    box-sizing: border-box;
}

:root {
    --accent: #8377D1;
    --indigo-dye: #214B6E;
    --isabelline: #F8EDEB;
}

body {
    margin: 0;
}

::selection {
    background: var(--accent);
    color: white;
}

header {
    display: flex;
    background: var(--indigo-dye);
    color: var(--isabelline);
    position: relative;
    align-items: center;
    height: clamp(24rem, 16.5rem + 33.3333vw, 34rem);
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: clamp(2.5rem, .62575rem + 8.333vw, 5rem);
    font-style: italic;
    font-weight: 400;
    max-width: 50rem;
    transform: rotate(-5deg);
}

.profile-links {
    display: flex;
    position: absolute;
    gap: 1rem;
    right: 1rem;
    bottom: 1rem;
}

.profile-links a {
    color: inherit;
}

.feather {
    height: auto;
    width: clamp(1.5rem, 1.1250rem + 1.6667vw, 2rem);
    vertical-align: top;
}

main {
    background: var(--isabelline);
    color: var(--indigo-dye);
    font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: 500;
}

section {
    padding: 2rem;
}

.section-content {
    align-items: center;
    gap: 2rem;
    margin: auto;
    max-width: 1200px;
}

section:nth-child(even) .section-content {
    flex-direction: row-reverse;
}

img {
    flex: 1;
    height: auto;
    min-width: 0;
    max-width: 100%;
}

.copy {
    flex: 1;
}

h2 {
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
    margin: 0;
}

.stack {
    margin-top: 0;
}

ul {
    padding-inline-start: 1.1em;
}

li:not(:last-child) {
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'DM Sans', sans-serif;
    gap: .5rem;
}

.button {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid var(--indigo-dye);
    border-radius: .3rem;
    color: inherit;
    flex: 1 1 48%;
    font-weight: 400;
    justify-content: space-around;
    outline: 0;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: all .15s ease-in-out;
    z-index: 1;
}

.button:hover,
.button:focus {
    border-color: var(--accent);
    color: white;
}

.button::before {
    content: "";
    position: absolute;
    background: var(--accent);
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    transition: right .15s ease-in-out;
    z-index: -1;
}

.button:hover::before,
.button:focus::before {
    right: 0;
}

.button:focus {
    box-shadow: 0 0 0 0.25rem #9E95DB;
}

footer {
    display: flex;
    align-items: center;
    background: var(--isabelline);
    color: var(--indigo-dye);
    font-family: 'Lora', serif;
    font-size: small;
    font-style: italic;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.line {
    background: var(--indigo-dye);
    height: 1px;
    margin: 3px;
    width: 10px;
}

@media (prefers-color-scheme: dark) {
    header {
        border-bottom: 1px dashed var(--isabelline);
    }

    main,
    footer {
        background: var(--indigo-dye);
        color: var(--isabelline);
    }

    .button {
        border-color: var(--isabelline);
    }

    .line {
        background: var(--isabelline);
    }
}

@media (prefers-reduced-motion) {
    .button:hover,
    .button:focus {
        background: var(--accent);
    }

    .button:hover::before,
    .button:focus::before {
        right: unset;
    }
}

@media screen and (min-width: 820px) {
    .section-content {
        display: flex;
    }
}